# Arquivos e diretórios de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Extensões C
*.so

# Distribuição / Empacotamento
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Geralmente, esses arquivos são gerados por um script Python a partir de um template
# antes do PyInstaller construir o executável, para injetar data/outras informações nele.
*.manifest
*.spec

# Logs de instalação
pip-log.txt
pip-delete-this-directory.txt

# Relatórios de teste / cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Traduções
*.mo
*.pot

# Arquivos específicos do Flask
instance/
.webassets-cache

# Ambientes virtuais
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Configurações de IDEs
.idea/
.vscode/
*.sublime-*

# Arquivos de banco de dados locais
*.db
*.sqlite3

# Arquivos de ambiente
*.env

# Arquivos de log
*.log
